<div class="card border-primary mb-3">
    <div class="card-header">Students</div>
    <div class="card-body text-primary">
      <h5 class="card-title">Listado de Students</h5>
  
      <div class="my-2 text-left">
        <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/students/form']">Crear Estudiante</button>
      </div>
      <div *ngIf="students?.length==0" class="alert alert-info">
        No hay registros en la Base de Datos!
      </div>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>id</th>
            <th>nombre</th>
            <th>apellido</th>
            <th>email</th>
            <th>fecha</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of students">
            <td>{{student.id}}</td>
            <td>{{student.nombre}}</td>
            <td>{{student.apellido}}</td>
            <td>{{student.email}}</td>
            <td>{{student.createAt}}</td>
            <td>
              <button type="button" name="editar" [routerLink]="['/students/form', student.id]" class="btn btn-primary btn-sm">editar</button>
            </td>
            <td>
              <button type="button" name="eliminar" (click)='delete(student)' class="btn btn-danger btn-sm">eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
  
    </div>
  </div>
  